**/envs/
**/.env/
**/.env*/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyz
**/*.pyzw
**/.Python
**/bin/
**/build/
**/develop-eggs/
**/dist/
**/lib/
**/lib64/
**/parts/
**/sdist/
**/var/
**/wheels/
**/*.egg-info/
**/pip-selfcheck.json

**/.DS_Store
