# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches and logs
*.log
logs/
*.cache

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
.DS_Store
Thumbs.db
