# System files
.DS_Store

# Editor settings
.vscode/

# Python virtual environments
envs/

# Virtual environment activation scripts
activate
activate.csh
activate.fish
Activate.ps1

# Virtual environment specific Python/pip executables
pip
pip3
pip3.11
python
python3
python3.11

# Any specific large file or directory you want to ignore
# (replace with the actual file or directory you want to ignore)
large_file_or_directory/

# Compiled Python files
*.pyc

# Distribution / packaging
.Python
dist/
build/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
__pycache__/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv environment variables file
.env
.env.test

# mkdocs documentation
/site

# mypy
.mypy_cache/
