# Python virtual environments
env/
mi_entorno_virtual/
__pycache__/
*/env/
*/venv/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# Visual Studio Code settings
.vscode/

# Environment variables
.env

# Conda environment
conda_env/